#dashboard {
	display: flex;
	flex-direction: column;
	width: 100vw;
	text-align: center;
}

#dashboard header {
	color: white;
	display: flex;
	font-size: 1em;
	justify-content: space-around;
	align-items: center;
	background-color: #5C889A;
	height: 3em;
	margin-bottom: 1em;
}

#dashboard header h1 {
	color: #ffbe00;
	font-size: 1.5em;
}

#dashboard header button {
	color: #FFEFB9;
	font-size: 1em;
	background: none;
	border: none;
	padding: 0.5em;
}

#dashboard header button:hover {
	color: #8BAEBD;
	font-style: italic;
}

#dashboard main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}