.trip_listing_container {
	background-color: #8EB1C0;
	box-shadow: 10px 10px #fbe391;
	margin-bottom: 1.5em;
	padding: 0.7em;
	text-align: center;
}

.trip_listing_container h2 {
	color: #ffca19;
	font-size: 1.7em;
}

.trip_listing_container h3 {
	color: #A42E31;
}

.trip_listing_container--date {
	color: #fff7db;
}