.trip_listing_container {
	background-color: #cf7567;
	box-shadow: 10px 10px #B3CBB9;
	margin-bottom: 1.5em;
	padding: 0 1.7em 1.5em;
	text-align: center;
}

.trip_listing_container h2 {
	color: #fff;
	font-size: 1.7em;
}

.trip_listing_container h3 {
	color: #fbe391;
	font-size: 1.4em;
	margin: 0;
}

.trip_list_container--header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trip_listing_container--date {
	color: #DDD8B8;
	font-size: 1.4em;
}

.trip_listing_container--places-container {
	margin: 0 auto;
	width: 30vw;
}

.trip_listing_container--places-container img {
	width: 4em;
	height: 4em;
	margin-right: 1em;
	object-fit: cover;
}

.trip_listing_container--place {
	border: 1px solid #DDD8B8;
	color: #fff;
	display: flex;
	align-items: center;
	margin: 1em 0;
	padding: 1em;
	text-transform:capitalize;
}

.trip_listing_container--buttons button {
	background-color: #EDDDD4;
	border: none;
	color: #772E25;
	font-size: 0.9em;
	padding: 0.7em;
}

.trip_listing_container--buttons button:first-of-type {
	margin-right: 1em;
}

.trip_listing_container--buttons button:hover {
	background-color: #56638A;
	color: #fff;
	cursor: crosshair;
}